/* Makes the name and title pop out*/
header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}
/* Centers the image dynamically*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}
/* This aligns the paragraphs and h3 elements*/
p, h3 {
  text-align: center;
  margin: 20px;
}
ul {
  height: 150px;
  text-align: left;
  list-style-position: inside;
  padding: 5px;
}
main {
  margin: 15px;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.align {
  text-align: center;
}
footer {
  background-color: black;
  color: white;
}
p {
  font-size: 15px;
}
/* This changes the color of the links*/
a:link    { color: blue;}
a:visited { color: lightblue;}
a:hover   { color: darkgreen;}
a:active  { color: cyan;}